@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Azure Speech</h1>

A managed service offering industry-leading speech capabilities such as speech-to-text, text-to-speech, speech translation, and speaker recognition.
<br />
<br />
<a href="https://azure.microsoft.com/en-us/products/cognitive-services/speech-services">Azure Speech</a>
<br />
<a href="https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/">Azure Speech Documentation</a>
