@page "/"

<PageTitle>Index</PageTitle>

<h3>Azure Speech Services</h3>

A managed service offering industry-leading speech capabilities such as speech-to-text, text-to-speech, speech translation, and speaker recognition.
<br />
<br />
<br />
<a href="https://azure.microsoft.com/en-us/products/cognitive-services/speech-services" target="_blank">Overview</a>
<br />
<br />
<a href="https://learn.microsoft.com/en-us/azure/cognitive-services/speech-service/" target="_blank">Documentation</a>
<br />
<br />
<a href="https://azure.microsoft.com/en-us/products/cognitive-services/text-to-speech/" target="_blank">Text to speech</a>

